# Node modules
backend/node_modules/

# Log files
backend/combined.log
backend/nohup.out
cherry-charm/nohup.out
session_management/nohup.out
session_management/app_debug.log

# Package lock files (optional)
backend/package-lock.json
backend/node_modules/.package-lock.json
cherry-charm/yarn.lock

# SQLite database
session_management/instance/users.db

# Environment files
session_management/serverenv/

project_sources.zip
/session_management/concatenated_code.txt
/app_debug.log
/session_management/myoutput.log
